.projectModal--container {
  position: relative;
}

.projectModal--type {
  position: absolute;
  top: -220px;
  background-color: red;
  padding: 0 5px;

}

.projectModal--title {
  position: absolute;
  top: -200px;
  background-color: red;
  padding: 0 10px;
}

.projectModal--tech {
  margin-top: 19px;
  flex-wrap: wrap;
}