.projects {
  background-blend-mode: screen;
  padding: 40px 20px 100px 20px;
}

.projects--buttons {
  justify-content: center;
}

.projects--cards {
  display: grid;
  grid-template-columns: 1fr;
}

@media all and (min-width: 736px) {
  .projects--cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (min-width: 980px) {
  .projects--cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}