.project--card {
  padding: 8px;
  margin: 5px;
  background-blend-mode: multiply;
}

.project--text {
  padding: 5px 10px;
  transition: all ease-in .5s;
}

.project--text:hover {
  background-color: rgb(255, 255, 255)
}

.project--text-title {
  color: #fff;
  text-align: center; 
  font-size: 1.5em;
  background-image: linear-gradient(
    to right bottom, 
    rgba(0, 92, 151, 0.9), 
    rgba(54, 55, 149, 0.9)
  );
  padding: 10px 10px 5px 10px;
}

.project--text-blurb {
  line-height: 1.2em;
}