/*****************************************************
General Set Up
*****************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', cursive;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #333;
}

#main {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

#project {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 95vw;
  max-width: 95vw;
  padding: 50px 0px;
}



/*****************************************************
Primary Top Nav
*****************************************************/
.primary-nav {
  background-color: #333;
  z-index: 10;
  opacity: 0;
  padding: 10px 30px;
  min-height: 30px;
  min-width: 100vw;
  position: fixed;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: 'Oswald', sans-serif;
  transition: all .1s ease-in;
}

.primary-nav.show {
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.primary-nav h1 a {
  text-decoration: none;
}

#rachelRalstonLogo {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

#rachelRalstonLogo a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  transition: all .3s ease-in-out;
}

#rachelRalstonLogo a:hover {
  color: #4BFFBA;
}



/*****************************************************
Splash
*****************************************************/
.splash {
  background-image: url("./public/img/ocean.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }

.splash-grey-background {
  background-color: rgba(0, 0, 0, .5);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;

}

.splash-grey-background p {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
}

.splash-grey-background h1 {
  color: #4BFFBA;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Oswald', cursive;
  letter-spacing: 3px;
  margin: 0px;
}

.splash-grey-background img {
  max-width: 100px;
}



/*****************************************************
HANDS
*****************************************************/
.hands {
  background-color: #333;
  min-height: 75vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#hands1 {
  display: flex;
  flex-direction: row;
}

.about-hands h2 {
  text-transform: uppercase;
}

.about-hands p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 2em;
}

.about-hands {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  min-width: 50%
}

.about-hands.dagger {
  min-width: 50%;
  margin-top: 20px;
  background-color: #333;
}



/*****************************************************
ABOUT
*****************************************************/
/*#about {
  background-color: #fff;
  z-index: 2;
  min-width: 100vw;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-child {
  margin: 0 20px 20px 20px;
}

.about-child img {
  max-height: 120px;
  border-radius: 60px;
}

.test {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(5px);
  transition: all 1s ease-out;
  padding: 20px 0;
  margin: 20px;
}

.test img {
  max-width: 100px;
}

.test.fade-in {
  transform: translateY(0);
  opacity: 1;
}*/



/*****************************************************
Writing
*****************************************************/
#writing {
  background-color: #fff;
  position: relative;
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

#writing>h1 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
}

#writing #article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#article-container {
  max-width: 90vw;
}

.article {
  max-width: 30%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid #4BFFBA;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.article:hover {
  transform: scale(1.02, 1.02);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.article a {
  text-decoration: none;
  color: #333;
  -moz-text-decoration-color: #4BFFBA;
  text-decoration-color: #4BFFBA;
}

.article a:hover {
  color: #333;
  text-decoration-color: #4BFFBA;
}

.article h3 {
  font-family: 'Oswald', sans-serif;
  color: black;
}



/*****************************************************
Footer
*****************************************************/
.footer {
  z-index: 99;
  position: relative;

}
.social-links {
  background-color: #333;
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 100vw;
  z-index: 100;
}

.social-links .fa {
  margin: 5px 10px;
  color: #4BFFBA;
  transition: color 0.3s ease-in-out;
}

.social-links .fa:hover {
  color: #1c8c61;
}
