/*****************************************************
General Set Up
*****************************************************/
/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900');*/

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Oswald', cursive;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #333;
}

#main {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

#project {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 95vw;
  max-width: 95vw;
  padding: 50px 0px;
}


/*****************************************************
Primary Top Nav
*****************************************************/
.primary-nav {
  background-color: #333;
  z-index: 10;
  opacity: 0;
  padding: 10px 30px;
  min-height: 30px;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Lato', sans-serif;
  position: fixed;
  transition: all .1s ease-in;
}
.primary-nav.show {
  opacity: 1;
  justify-content: center;
  align-items: center;
}

.primary-nav h1 a {
  text-decoration: none;
}

#rachelRalstonLogo {
  margin: 0;
  padding: 0;
  font-size: 1.5em;

}

#rachelRalstonLogo a {
  text-decoration: none;
  color: #fff;
  transition: all .3s ease-in-out;
  letter-spacing: 2px;
}

#rachelRalstonLogo a:hover {
  color: #4BFFBA;
}

/*****************************************************
Splash
*****************************************************/

.splash {
  background-image: url("./public/ocean.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 50vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.splash img {
  margin: 2em;
}

.splash-grey-background {
  background-color: rgba(0, 0, 0, .5);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-grey-background p {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
}

.splash-grey-background h1 {
  color: #4BFFBA;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Oswald', cursive;
  letter-spacing: 3px;
  margin: 0px;
}

/*****************************************************
ABOUT RACHEL
*****************************************************/
.about {
  background-color: #fff;
  z-index: 2;
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.about-child {
  margin: 0 20px 20px 20px;
}

.about img {
  max-height: 120px;
  border-radius: 60px;
}

.test {
  opacity: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(5px);
  transition: all 1s ease-out;
}

.test.fade-in {
  transform: translateY(0);
  opacity: 1;
}

/*****************************************************
Footer
*****************************************************/

.social-links {
  background-color: #333;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 20px 0px;
  /*justify-content: space-between;*/
  align-items: center;
  justify-content: center;
}

.social-links .fa {
  margin: 5px 10px;
  color: #4BFFBA;
  transition: color 0.3s ease-in-out;
}

.social-links .fa:hover {
  color: #1c8c61;
}
