.landing {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.landing--header {
  font-size: 5em;
  margin: 0;
  margin-top: 10px;
  background-image: linear-gradient(to right,rgba(15, 255, 183, 0.5), rgba(255, 174, 0, 1),#ff00ff);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  text-align: center;
}

.landing--sub-header {
  font-family: 'Lato', san-serif;
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

@media all and (min-width: 736px) {
  .landing--blurb {
    max-width: 800px;
  }
}