.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 56px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 10;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 25px;
  left: 8px;
  right: 8px;
  height: 4px;
  background: white;
  border-radius: 4px;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  content: "";
}

.c-hamburger span::before {
  top: -14px;
}

.c-hamburger span::after {
  bottom: -14px;
}

.c-hamburger-x {
  background-color: #ff3264;
}

.c-hamburger-x span {
  transition: background 0s 0.3s;
}

.c-hamburger-x span::before,
.c-hamburger-x span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.2s, 0s;
}

.c-hamburger-x span::before {
  transition-property: top, transform;
}

.c-hamburger-x span::after {
  transition-property: bottom, transform;
}

.c-hamburger-x.is-active {
  background-color: #cb0032;
}

.c-hamburger-x.is-active span {
  background: none;
  transition: background 0.3s 0.03s;
}

.c-hamburger-x.is-active span::before{
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger-x.is-active span::after {
  bottom:0;
  transform: rotate(-45deg);
}

.c-hamburger-x.is-active span::before,
.c-hamburger-x.is-active span::after {
  transition-delay: 0s, 0.3s;
}