.expanding-background-container {
  height: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.expanding-background {
  background-color: yellow;
  border-radius: 50%;
  height: 1em;
  position: relative;
  left: 20px;
  top: 20px;
  transition: all .4s ease-in-out;
  width: 1em;
}

.expanding-background.open {
  overflow: hidden;
  transform: scale(200);
}