.splash {
  /* background: url('../../public/img/desktop.jpg') center center fixed; */
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}

.name {
  /* font-family: 'Archivo', serif; */
  font-family: 'Lora', serif;
  /* font-family: 'Fjalla One', sans-serif;
  font-family: 'Vollkorn', serif;
  font-family: 'Old Standard TT', serif;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Josefin Slab', serif;
  font-family: 'Adamina', serif; */
  font-weight: 700;
  font-size: 5em;
  margin-bottom: 0;
}

.sub-header {
  font-size: 2em;
  font-family: 'Lato', san-serif;
}
