.col-2 {
  min-width: 50vw;
  max-width: 50vw;
  padding: 10px;
  min-height: 500px;
}

.flex {
  display: flex;
  flex-direction: row;
}

.background-pic {
  background-image: url("../../public/img/Brutalized-Gainsborough.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
