.btn {
  border: black 2px solid;
  color: #333;
  padding: 10px;
  margin: 5px;
  transition:all 0.3s ease;
}

a {
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
}

.white:hover {
  background-color: yellow;
}

.yellow {
  background-color: yellow;
}

.yellow:hover {
  background-color: white;
}
