.btn {
  border: black 2px solid;
  color: #333;
  padding: 10px;
  margin: 5px;
  transition:all 0.3s ease;
}

a {
  text-decoration: none;
}

.btn:hover {
  background-color: yellow;
  transform: scale(1.1);
  /*border: #555 2px solid;*/
}
