.splash{
  background-image: url("../../public/water_background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-grey-background {
  background-color: rgba(51,51,51,.5);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.splash-grey-background h1 {
  /*color: #4BFFBA;*/
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Raleway', san-serif;
  font-weight: 700;
  margin-bottom: 0;
  letter-spacing: 4px;
}

.splash-sub-heading {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
}

.lemon-square {
  border: 20px solid #fbff4f;
  padding: 10px 100px;
  margin: 0 10vw;
}
