.blurb-card {
  margin: .5em;
  max-width: 100vw;
  background-color: #fff;
  
}

.blurb-card-image {
  min-height: 5em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blurb-card-content {
  padding: .6em 1em .5em 1em;
  height: 100%;
}

.blurb-card-content h3 {
  margin: .5em 0 1em 0;

}

.blurb-card-content p {
  margin: 0 0 1em 0;
  line-height: 1em;
}

.blurb-card-footer {
  border-top: #999 solid 1px;
}