.btn {
  border: black 2px solid;
  color: #333;
  padding: 10px;
  margin: 5px;
  transition: all 0.3s ease;
  /* max-width: 30px; */
}

.btn:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.white {
  background-color: white;
  color: black;
}

.white:hover {
  background-color: yellow;
  color: black;
}

.yellow {
  background-color: yellow;
}

.yellow:hover {
  background-color: white;
}
