.btn {
  border: black 2px solid;
  color: #333;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  text-decoration: none;
}

.flat:hover {
  transform: scale(1);
}



/****** colors ******/

.white {
  background-color: white;
  color: black;
}

.white:hover {
  background-color: yellow;
  color: black;
}

.dark {
  background-color: #333;
  color: #ccc;
}

.pink {
  background-color: rgb(255, 0, 255);
  color: #fff;
}

.purple {
  background-color: rgb(75, 0, 130);
  color: #fff;
}

.yellow {
  background-color: rgb(240, 209, 20);
  color: #fff;
}



/****** sizes ******/

.micro {
  border: 0;
  font-size: .4em;
  padding: 3px 5px;
  margin: 1px;
}

.small {
  font-size: .6em;
  padding: 5px;
  margin: 3px;
}

.medium {
  padding: 10px;
  margin: 5px;
}