@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(https://fonts.gstatic.com/s/bungeehairline/v2/8Li3dr3whdkxuk7pmLaZaZ16wW5UEL6hOOm3lnIQ28I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
}

.primary-nav {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  background-color: #4CE0B3;
  padding: 10px 10px 5px 10px;
  justify-content: space-between;
  align-items: center;
}

#rachelRalstonLogo {
  margin: 0;
  padding: 0;
  font-size: 2em;
  font-family: 'Bungee Hairline';
}

#sub-title {
  margin: 0px;
  font-size: 1.2em;
  color: #888;
}

#main {
  display:flex;
  flex-direction: column;
  background-color: rgba(255,175,135,.5);
  background-image: url("ocean.jpg");
  min-height: 100vh;
  align-items: center;
}

#about {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 2px;
}

#RachelImg {
  max-height:150px;
  border-radius: 100px;
}

#social-links {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

#social-links .fa {
  margin: 0px 10px;
  color: #ff3264;
}

#about, 
#about > img,
#about > div:first-child {
  margin: 10px;
}

#about > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-words {
  margin: 10px 10px 10px 30px;
}

#about-words p:first-child {
  margin-top: 0;
}

#technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
