@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,700i,900');

body {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  color: #333;
}

.primary-nav {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  background-color: #333;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

#rachelRalstonLogo {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#nav-link-box .nav-links {
  margin: 0px;
  font-size: 1.2em;
  color: #888;
  transition: color 0.3s ease;
  font-weight: 300;
  text-decoration:none;
  padding-right: 20px;
  text-transform: uppercase;
}

#nav-link-box .nav-links:last-child {
  padding-right: 0px;
}

#nav-link-box .nav-links:hover {
  color: #ccc;
}

#main {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 10px 30px;
}

#splash {
  margin: 10px 0px 50px 0px;
}

#splash h1 {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 0px;
  color: #555;
}

#splash h1:last-child {
  font-size: 4em;
  letter-spacing: -1px;
  margin-top: 0px;
  font-weight: 900;
  color: #333;
}

#blog {
  display:flex;
  flex-direction: row;
  min-width:100vw;
}
#blog:nth-child(2) {
  background-color: grey
}

#about {
  display: flex;
  flex-direction: row;
}

#RachelImg {
  max-height:150px;
  border-radius: 100px;
}

#social-links {
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

#social-links .fa {
  margin: 0px 10px;
  color: #ff3264;
  transition: color 0.3s ease;
}

#social-links .fa:hover {
  color: #c6274e;
}

#about, 
#about > img,
#about > div:first-child {
  margin: 10px;
}

#about > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-words {
  margin: 10px 10px 10px 3em;
}

#about-words p:first-child {
  margin-top: 0;
}

#about-words h3{
  margin-top:0;
}

#technologies {
  margin: 10px 10px 10px 3em;
}

#technologies ul {
  padding: 0;
}

#technologies ul li {
  list-style: none;
}

#technologies h3{
  margin-top: 0;
}

#technologies-content{
  margin-left: 10px;
}
