@font-face {
  font-family: 'Bungee Hairline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Hairline'), local('BungeeHairline-Regular'), url(https://fonts.gstatic.com/s/bungeehairline/v2/8Li3dr3whdkxuk7pmLaZaZ16wW5UEL6hOOm3lnIQ28I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.splash {
  display: flex;
  flex-direction: row;
}

.main {
  display:flex;
  flex: 4;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(255,175,135,.5);
  background-image: url("ocean.jpg");
  justify-content: center;
}


/*Left Nav*/

.left-nav {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #4CE0B3;
  padding: 20px;
}

#nav-content{
  margin-left:5px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
  font-size: 3em;
  font-family: 'Bungee Hairline';
}

p {
  font-family: 'Open Sans';
}

#sub-title{
  font-size: 1.2em;
}

#nav-link-box {
  padding: 20% 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-links {
  text-decoration: none;
  list-style-type: none;
  color: #555;
  font-family: 'Open Sans';
  font-size: 2em;
  margin: 20px 0px;

}

.social-links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.social-links .fa {
  margin: 0px 10px;
  color: #555;
}
