.portfolio-card {
  min-width: 250px;
  padding: 10px 5px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transform: scale(.9);
  transition: all 0.3s ease-in-out;
}

.portfolio-card:hover {
  background-color: #ddd;
  transform: scale(1.00);
}

.project-img {
  max-width: 200px;
}
