.primary-nav {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  background-color: #333;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}

#rachelRalstonLogo {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

#nav-link-box .nav-links {
  margin: 0px;
  font-size: 1.2em;
  color: #888;
  transition: color 0.3s ease;
  font-weight: 300;
  text-decoration:none;
  padding-right: 20px;
  text-transform: uppercase;
}

#nav-link-box .nav-links:last-child {
  padding-right: 0px;
}

#nav-link-box .nav-links:hover {
  color: #ccc;
}

#social-links {
  margin: 0px 0px 30px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#social-links .fa {
  margin: 0px 10px;
  color: #4BFFBA;
  transition: color 0.3s ease;
}

#social-links .fa:hover {
  color: #c6274e;
}