.splash{
  background-image: url("../public/water_background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  min-width: 100vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
#about {
  display: flex;
  flex-direction: column;
}

.about-words p {
  color: #fff;
  font-weight: 300;
  font-size: 1.5em;
}

.grey-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(51,51,51,.5);
  border-radius: 2px;
  min-width: 100%;
  min-height: 80vh;
}

.splash h1 {
  color: #4BFFBA;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 0;
  letter-spacing: 4px;
}
